@{
    ViewData["Title"] = "Home Page";
}




        <div class="case" style="margin-top:60px; margin-bottom:60px; padding:40px; text-align:center;">

            <div class="title">
                <span style="font-size: 2.4em;">SQL ÇEVİRİ</span>
                <p>[TR => EN]</p>
            </div>

            <div class="button">
                <button type="button" class="btn btn-success btn-lg button_link" onclick="javascript:SqlTranslate()">AKTARIM BAŞLAT</button>
            </div>

            <div class="progress_case" style="display:none;">

                <div style="margin-top:3em; text-align:center;">


                    <div class="progress">
                        <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>

                </div>

                <div style="text-align:center;">
                    <h1 id="progress_now_text" style="font-size: 3.4em; font-family: monospace; margin-top: 0px;">%0</h1>
                    <div id="sonuc"></div>
                </div>

            </div>

        </div>


        <script>

            function SqlTranslate() {

                $(".button").css('display', 'none');
                $(".progress_case").removeAttr("style");
                Progress();

                $.ajax({
                    url: "/Home/fGetSabitAlan",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () { },
                    error: function () { }

                });

            }

            function Progress() {

                $.ajax({
                    url: "/Home/Progress",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data._Sonuc === "100") {

                            $("#progress_now_text").text("%" + data._NowProgress);
                            $('#progressbar').attr('aria-valuenow', data._NowProgress).css('width', data._NowProgress + '%');
                            $("#sonuc").text("AKTARIM BAŞARI İLE TAMAMLANDI.");

                        }
                        else
                        {
                            $("#progress_now_text").text("%" + data._NowProgress);
                            $('#progressbar').attr('aria-valuenow', data._NowProgress).css('width', data._NowProgress + '%');

                            Progress();

                        }
                    }

                });
            }

        </script>

